:root {
	--mainWhite: #FDFEFE;
	--btnBlue: #44A5E1;
	--mainLBlue: #E7F6FF;
	--mainDBlue: #409CE8;
	--mainOrange: #FFBC5E;
}

body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	background: var(--mainWhite);
}

/*Header*/

#top_left_cloud {
	width: 35rem;
	height: 35rem;
	position: absolute;
	z-index: -100;
}

#main_logo {
	width: 10rem;
	height: 10rem;
	margin-top: -1.5rem;
	margin-left: 8rem;
	position: relative;
	z-index: 100;
}

#main_nav {
	display: grid;
	float: right;
	width: 40rem;
	text-decoration: none;
	list-style: none;
	grid-template-columns: repeat(5, 1fr);
	padding: 1.5rem;
	text-align: center;
	margin-right: 7rem;
}

.main_nav > a {
	text-decoration: none;
	color: black;
	transition: 1s all;
}

.main_nav {
	font-size: 1rem;
	cursor: pointer;
}

.main_nav > a:hover {
	text-decoration: underline;
	color: #409CE8;
}

.fa-bars {
	display: none;
}

/*Home Div*/

#home_div {
	width: 90%;
	height: 27rem;
	margin-top: 1rem;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#home_desc {
	margin-left: 8rem;
	margin-top: 2rem;
}

#home_desc > h1 {
	font-size: 2.5rem;
}

#home_desc > h2 {
	font-size: 1.69rem;
	margin-top: -1.5rem;
}

#home_desc > p {
	width: 25rem;
}

#main_btn {
	border: none;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: bold;
	width: 7rem;
	height: 2rem;
	color: var(--mainWhite);
	background: var(--btnBlue);
	transition: 1s all;
}

#main_btn:hover {
	background: #FFBC5E;
	cursor: pointer;
}

#desk{
	width: 30rem;
	height: 30rem;
	float: right;
	/*margin-left: 50rem;*/
	position: absolute;
	margin-left: 5rem;
	z-index: -100;
}

#man {
	width: 30rem;
	height: 30rem;
	float: right;
	/*margin-left: 50rem;*/
	display: inline;
	position: absolute;	
	margin-left: 50rem;
	animation-name: go_man;
	animation-duration: 5s;
	animation-delay: .5s;
	animation-fill-mode: forwards;

}

@keyframes go_man {
	0% {
		transform: translateX(0);
	}

	90% {
		transform: translateX(-45.2rem);
	}

	100% {
		transform: translateX(-45rem);
	}

}

#mug {
	width: 2.3rem;
	height: 2.3rem;
	margin-left: 13rem;
	margin-top: -15rem;
	z-index: 100;
	position: absolute;
	animation-name: go_mug;
	animation-duration: .5s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes go_mug {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(30rem);
	}
}

/*Second Div*/

#second_div_h {
	text-align: center;
	margin-top: 4rem;
	color: var(--btnBlue);
}

hr {
	width: 50%;
	margin: 1rem auto;
}

#second_div {
	width: 90%;
	height: 25rem;
	margin: 0rem auto;
	margin-top: 10rem; 
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}

.second_div {
	text-align: center;
}

.second_div > img {
	width: 13rem;
	height: 13rem;
	cursor: pointer;
}

.second_div > h3 {
	margin-top: -2rem;
}

.second_div > p {
	width: 10rem;
	margin: 0px auto;
	margin-top: -1rem;
}

#second_div div:nth-child(1) {
	margin-top: -5rem;
} 

#second_div div:nth-child(3) {
	margin-top: -3rem;
} 

/*Third Div*/

#portfolio_h {
	text-align: center;
	color: var(--btnBlue);
}

#portfolio {
	width: 100%;
	height: 40rem;
}

#portfolio_back {
	width: 100%;
	height: 60rem;
	margin-top: -20rem;
}

#portfolio_comp {
	width: 35rem;
	height: 35rem;
	position: absolute;
	margin-top: 0rem;
}

#portfolio_img {
	width: 300px;
	height: 180px;
	top: 95.1rem;
	left: 7.1rem;
	transform: translate(50, 50);
	position: absolute;
}

/*How it works*/

#how_it_w_h {
	text-align: center;
	color: var(--btnBlue);
}

#how_it_works {
	width: 90%;
	height: 43rem;
	margin: 2rem auto;
	background: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1rem;
	text-align: center;
}

.h_i_w_divs {
	display: grid;
	grid-template-rows: 50% 15% 35%;
	margin: 0rem auto;
	margin-top: 1.5rem;
	font-weight: bold;
	font-size: 1.2rem;
	padding: .5rem;
	transition: 1s all;
}

.h_i_w_divs:hover {
	border-radius: 10px;
	box-shadow: 5px 5px 5px 3px lightgrey;
	cursor: pointer;
	transition-timing-function: linear;
}

.h_i_w_divs > div {
	font-size: .8rem;
	text-align: center;
	padding-top: -5rem;
	width: 15rem;

}

.h_i_w_divs > img {
	width: 10rem;
	height: 10rem;
	margin: 0px auto;
	margin-bottom: 2rem;
}

.h_i_w-icons {
	width: 10rem;
	height: 10rem;
}

/*Footer*/

#footer {
	width: 100%;
	height: 15rem;
	background: var(--mainDBlue);
}

#footer_logo {
	width: 10rem;
	height: 10rem;
	margin-top: -1.5rem;
	margin-left: 8rem;
}

#footer > p {
	font-weight: bold;
	display: inline;
	margin-left: -10rem;
}

#mini_logo {
	width: 3rem;
	height: 3rem;
	margin-top: 2rem;
}

i {
	color: var(--btnBlue);
}

#footer_icons {
	display: inline;
	margin-top: 10rem;	
	margin-left: -17rem;
	position: absolute;
}

#footer_icons > i {
	color: white;
	font-size: 2rem;
	padding-right: 1rem;
}

#footer_div {
	float: right;
	width: 15rem;
	height: 60%;
	margin-top: 2rem;
	display: inline;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	color: white;
}

#footer_div > span {
	/*font-weight: bold;*/
}

#footer_div > span:hover {
	text-decoration: underline;
	cursor: pointer;
}


/*Media Queris*/


@media screen and (max-width: 750px) {
	#main_nav {
		display: none;
	}
	
	.fa-bars {
		display: inline;
		float: right;
		margin: 2rem;
		font-size: 2rem;
		cursor: pointer;
	}

	#home_div {
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);	
	}

	#second_div {
		grid-template-columns: none;
		grid-template-rows: repeat(3, 1fr);
	}
}