:root {
	--mainWhite: #FDFEFE;
	--btnBlue: #44A5E1;
	--mainLBlue: #E7F6FF;
	--mainDBlue: #409CE8;
	--mainOrange: #FFBC5E;
}

body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	background: var(--mainWhite);
}

/*Header*/

#top_left_cloud {
	width: 35rem;
	height: 35rem;
	position: absolute;
	z-index: -100;
}

#main_logo {
	width: 10rem;
	height: 10rem;
	margin-top: -1.5rem;
	margin-left: 8rem;
	position: relative;
	z-index: 100;
}

#main_nav {
	display: grid;
	float: right;
	width: 45rem;
	text-decoration: none;
	list-style: none;
	grid-template-columns: repeat(6, 1fr);
	padding: 1.5rem;
	text-align: center;
	margin-right: 7rem;
}

.main_nav > a {
	text-decoration: none;
	color: black;
	transition: 1s all;
}

.main_nav {
	font-size: 1rem;
	cursor: pointer;
}

.main_nav > a:hover {
	text-decoration: underline;
	color: #409CE8;
}

#fa-bars {
	display: none;
}

/*Home Div*/

#home_div {
	width: 90%;
	height: 27rem;
	margin-top: 1rem;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

#home_desc {
	margin-left: 8rem;
	margin-top: 2rem;
}

#home_desc > h1 {
	font-size: 2.5rem;
}

#home_desc > h2 {
	font-size: 1.69rem;
	margin-top: -1.5rem;
}

#home_desc > p {
	width: 25rem;
}

#main_btn {
	border: none;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: bold;
	width: 7rem;
	height: 2rem;
	color: var(--mainWhite);
	background: var(--btnBlue);
	transition: 1s all;
}

#main_btn:hover {
	background: #FFBC5E;
	cursor: pointer;
}

#desk{
	width: 30rem;
	height: 30rem;
	position: absolute;
	margin-left: 5rem;
	z-index: -100;
}

#man {
	width: 30rem;
	height: 30rem;
	display: inline;
	position: absolute;	
	margin-left: 50rem;
	animation-name: go_man;
	animation-duration: 5s;
	animation-delay: .5s;
	animation-fill-mode: forwards;

}

@keyframes go_man {
	0% {
		transform: translateX(0);
	}

	90% {
		transform: translateX(-45.2rem);
	}

	100% {
		transform: translateX(-45rem);
	}

}

#mug {
	width: 2.3rem;
	height: 2.3rem;
	margin-left: 13rem;
	margin-top: -15rem;
	z-index: 100;
	position: absolute;
	animation-name: go_mug;
	animation-duration: .5s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes go_mug {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(30rem);
	}
}

/*Second Div*/

#second_div_h {
	text-align: center;
	margin-top: 4rem;
	color: var(--btnBlue);
}

hr {
	width: 50%;
	margin: 1rem auto;
}

#second_div {
	width: 90%;
	height: 25rem;
	margin: 10rem auto;
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}

.second_div {
	text-align: center;
}

.second_div > img {
	width: 13rem;
	height: 13rem;
	cursor: pointer;
}

.second_div > h3 {
	margin-top: -2rem;
}

.second_div > p {
	width: 10rem;
	margin: 0px auto;
	margin-top: -1rem;
}

#second_div div:nth-child(1) {
	margin-top: -5rem;
} 

#second_div div:nth-child(3) {
	margin-top: -3rem;
} 

/*Third Div*/

#portfolio_h {
	text-align: center;
	color: var(--btnBlue);
	z-index: 100;
}

#portfolio {
	width: 100%;
	height: 60rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: url('Images/portfolio_back.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -15rem;
}

#portfolio_comp {
	width: 45rem;
	height: 45rem;
	position: absolute;
	margin-top: 15rem;
}

#portfolio_img {
	width: 24rem;
	height: 15rem;
	top: 105.5rem;
	left: 9.1rem;
	transform: translate(50, 50);
	position: absolute;
	border-radius: 4px;
}

#portfolio_desc {
	margin-top: 25rem;
	margin-left: 5rem;
}

#portfolio_desc > p {
	width: 30rem;
}

#portfolio_desc > button {
	border: none;
	border-radius: 3px;
	font-size: 1rem;
	font-weight: bold;
	width: 9rem;
	height: 2.5rem;
	color: var(--mainWhite);
	background: var(--btnBlue);
	transition: 1s all;
}

#portfolio_desc > button:hover {
	background: #FFBC5E;
	cursor: pointer;	
}

/*Services*/

#services_h {
	text-align: center;
	color: var(--btnBlue);
}

#services {
	width: 90%;
	height: 46rem;
	margin: 2rem auto;
	background: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1rem;
	text-align: center;
}

.services_divs {
	display: grid;
	grid-template-rows: 50% 15% 35%;
	margin: 0rem auto;
	margin-top: 2rem;
	font-weight: bold;
	font-size: 1.2rem;
	padding: .5rem;
	transition: 1s all;
}

.services_divs:hover {
	border-radius: 10px;
	box-shadow: 5px 5px 5px 3px lightgrey;
	cursor: pointer;
	transition-timing-function: linear;
}

.services_divs > div {
	font-size: .8rem;
	text-align: center;
	padding-top: -5rem;
	width: 15rem;

}

.services_divs > img {
	width: 10rem;
	height: 10rem;
	margin: 0px auto;
	margin-bottom: 4rem;
}

/*Footer*/

#footer {
	width: 100%;
	height: 15rem;
	background: var(--mainDBlue);
}

#footer_logo {
	width: 10rem;
	height: 10rem;
	margin-top: -1.5rem;
	margin-left: 8rem;
}

#footer > p {
	font-weight: bold;
	display: inline;
	margin-left: -10rem;
}

#mini_logo {
	width: 3rem;
	height: 3rem;
	margin-top: 2rem;
}

i {
	color: var(--btnBlue);
}

#footer_icons {
	display: inline;
	margin-top: 10rem;	
	margin-left: -17rem;
	position: absolute;
}

#footer_icons > i {
	color: white;
	font-size: 2rem;
	padding-right: 1rem;
}

#footer_div {
	float: right;
	width: 15rem;
	height: 60%;
	margin-top: 2rem;
	display: inline;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	color: white;
}

#footer_div > span:hover {
	text-decoration: underline;
	cursor: pointer;
}


							/* Media Query */

@media screen and (max-width: 1200px) {
	
/*nav */
								
	#main_nav {
		display: none;
	}

	 #main_logo {
		margin-left: 2rem;
	} 

	#fa-bars {
		display: inline;
		width: 3rem;
		height: 3rem;
		float: right;
		margin: 2rem;
	}

/* services */

	#services {
		width: 90%;
		height: 76rem;
		margin: 2rem auto;
		background: white;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-gap: 1rem;
		text-align: center;
	}

}

@media screen and (max-width: 1000px) {

/* home div */

	#home_div {
		width: 100%;
		height: 55rem;
		margin-top: 1rem;
		position: relative;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
	}

	#home_desc {
		margin-left: 0px;
		margin-top: 2rem;
		text-align: center;
	}
	
	#home_desc > h1 {
		font-size: 2.5rem;
	}
	
	#home_desc > h2 {
		font-size: 1.69rem;
	}
	
	#home_desc > p {
		margin: 0px auto;
	}
	
	#main_btn {
		margin-top: 1rem;
	}

	 #main_ilustrtion {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#desk{
		width: 25rem;
		height: 25rem;
		position: absolute;
		margin-left: 0rem;
		z-index: -100;
	}
	
	#man {
		width: 25rem;
		height: 25rem;
		display: inline;
		position: absolute;	
		margin-left: 0rem;
		animation: none;
	}

	#mug {
		display: none;
	}

/* second div */
	
	#second_div {
		width: 100%;
		height: 70rem;
		margin: 0rem auto;
		position: relative;
		display: grid;
		grid-template-columns: none;	
		grid-template-rows: repeat(3, 1fr);	
	}

	.second_div {
		text-align: center;
	}

	.second_div > img {
		width: 15rem;
		height: 15rem;
		cursor: pointer;
	}

	.second_div > h3 {
		margin-top: -2rem;
	}

	.second_div > p {
		width: 10rem;
		margin: 0px auto;
		margin-top: -1rem;
	}

	#second_div div:nth-child(1) {
		margin-top: 0rem;
	} 

	#second_div div:nth-child(3) {
		margin-top: 0rem;
	} 
	
	
/*Third Div*/

	#portfolio_h {
		text-align: center;
		color: var(--btnBlue);
		margin: 5rem auto;
		font-size: 2.5rem;
	}

	#portfolio {
		width: 100%;
		height: 60rem;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(2, 1fr);
		background-image: none;
	}

	/* #portfolio_back {
		display: flex;
		align-items: center;
		justify-content: center;
	} */

	#portfolio_comp {
		margin: 0pc auto;
		width: 35rem;
		height: 35rem;
		position: absolute;
		margin-top: 15rem;
	}

	#portfolio_img {
		/* width: 19rem;
		height: 11.3rem;
		top: 157.9rem;
		left: 18.1rem;
		transform: translate(50, 50);
		position: absolute;
		border-radius: 4px; */
		display: none;
	}

	#portfolio_desc {
		text-align: center;
		margin-left: 0px;
	}

	#portfolio_desc > p {
		width: 30rem;
		margin: 0px auto;
	}

	#portfolio_desc > button {
		margin: 2rem auto;
	}
}

@media screen and (max-width: 800px) {

/* #services */

	#services {
		width: 90%;
		height: 166rem;
		margin: 2rem auto;
		background: white;
		display: grid;
		grid-template-columns: none;
		grid-template-rows: repeat(6, 1fr);
		grid-gap: 1rem;
		text-align: center;
	}

/*Footer*/

	#footer {
		width: 100%;
		height: 15rem;
		background: var(--mainDBlue);
	}

	#footer_logo {
		width: 10rem;
		height: 10rem;
		margin-top: -1.5rem;
		margin-left: 1rem;
	}

	#footer > p {
		font-weight: bold;
		display: inline;
		margin-left: -10rem;
	}

	i {
		color: var(--mainWhite);
	}

	#footer_icons {
		display: inline;
		margin-top: 10rem;	
		margin-left: -17rem;
		position: absolute;
	}

	#footer_icons > i {
		color: white;
		font-size: 2rem;
		padding-right: 1rem;
	}

	#footer_div {
		display: none;
	}

	#footer_div > span:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

